<h1>Angular Social Sharing Buttons</h1>
<p>Share and like buttons in Angular 2+ for Facebook, Google Plus, Twitter, LinkedIn and Pinterest.</p>
<div class="jumbotron">
    <div class="row">
        <div class="col">
            <fb-like url={{url}}></fb-like>
        </div>
        <div class="col">
            <google-plus url={{url}}></google-plus>
        </div>
        <div class="col">
            <tweet url={{url}} text={{text}}></tweet>
        </div>
        <div class="col">
            <linkedin-share url={{url}}></linkedin-share>
        </div>
        <div class="col">
            <pin-it url={{url}} media={{imageUrl}} description={{text}}></pin-it>
        </div>
    </div>
</div>