<h1>Test Page</h1>
<p>And they work after route changes :)</p>
<div class="jumbotron text-center">
    <div class="row">
        <div class="col">
            <tweet></tweet>
        </div>
        <div class="col">
            <pin-it></pin-it>
        </div>
        <div class="col">
            <google-plus></google-plus>
        </div>
        <div class="col">
            <fb-like></fb-like>
        </div>
        <div class="col">
            <linkedin-share></linkedin-share>
        </div>
    </div>
</div>